<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--是否异步记录Rabbimq日志 true  false--><add key="YCHRabbitMQHostName" value="192.168.43.74" />
    <add key="YCHRabbitMQPort" value="5672" />
    <add key="YCHRabbitMQUserName" value="admin" />
    <add key="YCHRabbitMQPassword" value="admin" />
    <add key="RequestedConnectionTimeout" value="100" />
     <add key="YCHRabbitMQmaxconnectAgain" value="30" />
  <!--使用Rabbitmq记录日志 true记录 false不记录--><add key="LogIsAsyncRabbitmq" value="false" /><add key="LogSource" value="Bitauto.Mall.Log" /><add key="LogLocalhostIP" value="127.0.0.1" /><add key="RecordLogWithRabbitmq" value="false" /></appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>