@import url(index.css);
.oprater
{
    padding: 5px 20px;
}
.oprater input
{
    padding: 0 5px;
}
.tdcenter
{
    width: 80px;
    text-align: center;
}
.tdcenter a
{
    margin: 0 5px;
}

.tdcenterX
{
    width: 50px;
    text-align: center;
}
.tdcenterX a
{
    margin: 0 5px;
}

.center_td
{
    text-align: center;
    width: 150px;
}
.center_td select
{
    width: 95%;
    color: #666666;
}
.open
{
    background-color: #FFF7DE;
    border-bottom: 0;
}


/*弹出时间框
-------------------------------------------------*/
input#time1, #time2
{
    float: left;
}
.date_click
{
    border: 0;
    background: none;
    width: 20px;
    height: 1px;
    padding-top: 19px;
    overflow: hidden;
    line-height: 400px;
    background-image: url(../images/bg_btn.jpg);
}
.ds_font
{
    position: absolute;
    left: -60px;
    top: 20px;
    width: 180px;
    height: 165px;
    overflow: hidden;
    z-index: 100;
    clear: both;
    border: 1px solid #7F9DB9;
    background-color: #EFF7F6;
    cursor: hand;
}
.ds_font table
{
    border-collapse: collapse;
    width: 100%;
}
.for_close
{
    display: block;
    clear: both;
    width: 100%;
    height: 23px;
    background-color: #2670C1;
    color: #fff;
}
table.tiaozheng
{
    background-color: #2670C1;
    color: #fff;
    height: 22px;
}
table.days
{
    clear: both;
    height: 100px;
}

/*弹出编辑层*/
#edit
{
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1000;
}
#copy
{
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1000;
}
/*弹出设置层*/
#apply
{
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1000;
}

.editin, #iframe_up
{
    width: 750px;
    padding-bottom: 20px;
    border: 5px solid #BFBFBF;
    background-color: #ffffff;
    overflow: hidden;
    position: absolute;
    margin: -150px 0 0 -375px;
    z-index: 15;
}
.editin_new
{
    width: 750px;
    padding-bottom: 20px;
    border: 5px solid #BFBFBF;
    background-color: #ffffff;
    overflow: hidden;
    position: fixed;
	margin: -250px 0 0 -375px;
    z-index: 15;
}
#iframe_up
{
    z-index: 5;
    margin: -150px 0 0 -375px;
    border: 0;
    height: 50px;
}
.editin h2
{
    width: 100%;
    height: 71px;
    font-size: 14px;
    text-indent: 40px;
    line-height: 90px;
    overflow: hidden;
    background-image: url(../images/popon.png);
    border: 0;
    margin: 0;
}
.editin ul
{
    margin: 10px 20px 30px;
    padding-left: 20px;
    font-size: 14px;
}
.editin ul li
{
    clear: both;
    float: left;
    padding-bottom: 10px;
    font-size: 12px;
    color: #000;
}
.editin ul li label
{
    display: block;
    width: 100px;
    float: left;
    color: #666666;
    font-size: 13px;
    text-align: right;
}
.editin ul li input
{
    /*	border:1px solid #7F9DB9;*/
    background-color: #fff;
    font-size: 12px;
}
.editin ul li input.in_edit
{
    background-image: url(../images/btn_s1.gif);
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 12px;
    height: 27px;
    line-height: 21px;
    margin-right: 12px;
    width: 79px;
}
.editin ul li input.times
{
    float: left;
    width: 70px;
    font-size: 12px;
    text-align: center;
    margin-left: 5px;
}
.editin ul li input.date_click
{
    float: left;
    border: 0;
    background: none;
    width: 20px;
    height: 20px;
    overflow: hidden;
    line-height: 400px;
    background-image: url(../images/bg_btn.jpg);
    margin-left: 5px;
}
.editin ul li input#pic_url2
{
    float: left;
    width: 200px;
    margin-right: 5px;
}
.editin ul li input.submits
{
    background-image: url(../images/btn_bg2.jpg);
    width: auto;
    height: 20px;
    line-height: 20px;
    border: 1px solid #7F9DB9;
    margin-right: 12px;
    font-size: 12px;
    color: #333;
    float: left;
}
.editin ul li input.radio
{
    border: 0;
}
.editin ul li em
{
    font-style: normal;
    font-size: 12px;
    float: left;
    text-align: center;
    padding: 0 5px 0 5px;
}
.editin ul li textarea
{
    width: 380px;
}
/* 等待样式 */
.editinWait
{
    background-image: url(../images/popon.png);
    width: 1410;
    height: 200px;
}
/* 等待样式 */
#del_img
{
    position: absolute;
    right: 50px;
    top: 40px;
}
#del_img1
{
    position: absolute;
    right: 50px;
    top: 40px;
}
#delApply_img
{
    position: absolute;
    right: 20px;
    top: 20px;
}
#bgDiv, #iframe_top
{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: transparent;
    filter: progid:DXImageTransform.Microsoft.Alpha(style=3,opacity=25,finishOpacity=75);
    opacity: 0.6;
    z-index: 200;
}
#iframe_top
{
    z-index: 100;
}

ul#nopublic
{
    background: none;
}
fieldset#role_set
{
    padding-top: 0;
    padding-bottom: 0;
}
fieldset#role_set .formlist
{
    border: 0;
    padding: 0;
    margin: 0;
    clear: both;
    float: left;
}
fieldset#role_set .formlist ul li
{
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}
fieldset#role_set .formlist ul li label
{
    line-height: 25px;
}
.roler_set
{
    border: 2px solid #EFF7F6; /*background:#fff url(../images/bg_roler.jpg) repeat-y left;*/
    margin: 10px auto 20px;
    width: 97%;
}
.roler_set ul
{
    width: 157px;
    float: left;
    margin-right: 25px;
}
/*.roler_set ul li {
	}
.roler_set ul li a {
	display:block;
	height:31px;
	width:157px;
	overflow:hidden;
	line-height:31px;
	overflow:hidden;
	font-weight:bold;
	color:#0058B9;
	text-indent:14px;
	text-decoration:none;
	} 
.roler_set ul li a:hover,
.roler_set ul li.linknow a {
	background-image:url(../images/bg_roler_li.jpg);
	color:#666666;
	}*/
.roler_set ul li
{
    height: 32px;
    width: 168px;
    overflow: hidden;
    background-image: url(../images/li_nav_off.jpg);
    text-indent: 22px;
}
.roler_set ul li a
{
    color: #3399CC;
    font-size: 14px;
    line-height: 34px;
    text-decoration: none;
    font-weight: bold;
}
.roler_set ul li.linknow
{
    background-image: url(../images/li_nav_on.jpg);
}
.roler_set ul li.linknow a
{
    color: #7D7D7D;
}









.right_menu
{
    width: auto;
    margin: 20px 0 0 0;
    border: 1px solid #CCCCCC;
    border-width: 1px 1px 0 0;
    border-collapse: collapse;
}
.right_menu th, .right_menu td
{
    height: 25px;
    font-weight: normal;
    text-align: left;
    border: 1px solid #CCCCCC;
    border-width: 0 0 1px 1px;
    vertical-align: top;
    line-height: 25px;
    padding: 3px 0;
}
.right_menu th
{
    text-align: right;
    padding: 3px 10px;
}
.right_menu td
{
}
.right_menu td ul
{
    width: 100%;
    padding: 0;
    margin: 0;
}
.right_menu td ul li
{
    border-bottom: 1px solid #CCCCCC;
    padding: 3px 40px 3px 20px;
    height: 24px;
    background: none;
}
.right_menu td ul li.lastone
{
    border: 0;
}
.right_menu input.checkbox
{
    margin: 5px 5px 0 0;
    background-color: transparent;
}
input.in_menu
{
    margin: 10px 0 10px 310px;
    width: 60px;
}

/*广告管理*/
.layout fieldset.formnoborder
{
    margin-top: 0;
    padding-top: 0;
}
.layout fieldset.setting
{
    margin-top: 0;
    margin-bottom: -20px;
    padding-top: 0;
    padding-bottom: 0;
}
.layout fieldset.formnoborder div.formlist
{
    border: 0;
    margin: 0;
    padding-top: 0;
}
.layout fieldset.formnoborder div.formlist ul li label
{
    width: 120px;
}

/*广告管理*/
.steps
{
    margin: 20px auto -20px;
}
.steps ul
{
    padding-left: 8px;
    height: 53px;
    overflow: hidden;
}
.steps ul li
{
    float: left;
    color: #3399CC;
    font-size: 12px;
    padding-left: 47px;
}
.steps ul li strong
{
    display: block;
    font-size: 14px;
}
.steps ul li.arr
{
    padding: 0 60px;
    height: 50px;
    background: url(../images/arr.jpg) no-repeat 50px top;
}
.steps ul li.f
{
    background: url(../images/f.jpg) no-repeat left top;
}
.steps ul li.f_on
{
    background: url(../images/f_on.jpg) no-repeat left top;
    color: #FF6600;
}
.steps ul li.s
{
    background: url(../images/s.jpg) no-repeat left top;
}
.steps ul li.s_on
{
    background: url(../images/s_on.jpg) no-repeat left top;
    color: #FF6600;
}
.steps ul li.t
{
    background: url(../images/t.jpg) no-repeat left top;
}
.steps ul li.t_on
{
    background: url(../images/t_on.jpg) no-repeat left top;
    color: #FF6600;
}
.steps ul li.fh
{
    background: url(../images/fh.jpg) no-repeat left top;
}
.steps ul li.fh_on
{
    background: url(../images/fh_on.jpg) no-repeat left top;
    color: #FF6600;
}
.formwork
{
    width: 750px;
    float: left;
    margin: 0;
    padding-top: 0;
    border-width: 0;
    font-size: 12px;
}
.formwork h3
{
    border: 0;
    background: none;
    background: url(../images/dot.jpg) no-repeat left 37px;
    margin: 4px 0 0 0;
    text-indent: 8px;
    padding: 0;
    color: #666666;
    line-height: 80px;
}
.formwork ul
{
    padding: 5px 0;
}
.formwork ul li
{
    clear: both;
    font-size: 12px;
    height: 35px;
}
.formwork ul li.last
{
    clear: both;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
}
.formwork ul li label
{
    display: block;
    float: left;
    width: 100px;
    text-align: right;
}
.formwork ul li em
{
    font-style: normal;
    float: left;
    padding: 0 5px;
}
.formwork ul li.textarea_in
{
    height: auto;
    padding: 0;
    overflow: visible;
    line-height: 35px;
}
.formwork ul li.textarea_in select
{
    margin: 7px 0 0 0;
}
.formwork ul li.textarea_in input
{
    _margin-top: 7px;
}
.formwork ul li.textarea_in blockquote input.radio
{
    height: 15px;
    width: 15px;
    margin: 0;
    padding: 0;
}
.formwork ul li.textarea_in blockquote
{
    display: block;
    float: left;
    margin: 0;
    padding: 9px 0 0px 0;
    line-height: 35px;
}
.formwork ul li.textarea_in blockquote ul
{
    clear: both;
    float: left;
    width: 600px;
    margin: 0;
    padding: 0;
}
.formwork ul li.textarea_in blockquote ul li
{
    clear: none;
    float: left;
    text-align: left;
    padding-right: 1px;
    line-height: 20px;
    height: 27px;
    white-space: nowrap;
    min-width: 80px;
}
.formwork ul li.textarea_in blockquote ul li
{
    width: 90px;
}
.formwork ul li.textarea_in blockquote ul li input
{
    float: left;
    display: inline;
    margin: 0 3px 0 0;
    width: 15px;
}
/*.formwork select{
	margin:3px 0 0 0;
	}*/
ul.citys
{
    margin-bottom: -10px;
    margin-top: -10px;
}
ul.citys li
{
    display: block;
    width: 60px;
    height: 25px;
    white-space: nowrap;
    overflow: hidden;
}
.brands
{
    clear: none;
    width: 230px;
    height: 200px;
    border: 1px solid #7F9DB9;
    overflow: auto;
    margin: 3px 0;
    float: left;
    line-height: 20px;
    padding-left: 5px;
}
.brandsTemp
{
    clear: none;
    width: 300px;
    height: 200px;
    border: 1px solid #7F9DB9;
    overflow: auto;
    margin: 3px 0;
    float: left;
    line-height: 20px;
    padding-left: 5px;
}
.brands_in
{
    height: 20px;
    padding: 70px 10px;
    float: left;
    margin: 5px 0;
}
.brands_in img
{
    display: block;
    border: 0;
    margin: 5px 0;
}
.layout fieldset .formlist ul li.textarea_in blockquote .brands_in a
{
    clear: both;
    background: none;
    background-image: none;
}
.note_words
{
    clear: both;
    float: left;
    white-space: nowrap;
    color: #FF6600;
    padding: 10px 0 10px 100px;
}
/*弹窗*/
.openwindow
{
    background: #DEEEFF;
    border: 5px solid #3369a7;
    width: 660px;
}
.openwindow .close
{
    float: right;
    background: url(../images/close.gif) no-repeat 0 3px;
    height: 18px;
    padding: 0 0 0 20px;
    margin: 5px 5px 0pt 0pt;
}
.openwindow .close a
{
    font-size: 14px;
}
.openwindow .close a:hover
{
    text-decoration: none;
}
.openwindow h2
{
    background: #DEEEFF none repeat scroll 0% 0%;
    color: #000000;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    overflow: hidden;
    padding: 0pt 15px;
}
.openwindow h2 span
{
    height: 30px;
    line-height: 30px;
}
.openwindow fieldset
{
    clear: both;
    background: #fff;
    padding: 10px 15px 0 15px;
}
.openwindow fieldset ol li
{
    float: left;
    padding: 10px 0;
    overflow: hidden;
    width: 300px;
    height: 22px;
}
.openwindow fieldset ol li a
{
    text-decoration: underline;
}
.openwindow fieldset ol li.nowidth
{
    width: 600px;
    height: auto;
}
.openwindow fieldset ol li.w200
{
    width: 240px;
}
.openwindow fieldset ol li.w100
{
    width: 100px;
}
.openwindow fieldset ol li.jg75
{
    padding: 10px 0 10px 80px;
    width: 220px;
}
.openwindow fieldset ol li label
{
    float: left;
    display: block;
    width: 75px;
    text-align: right;
    margin: 0 5px 0 0;
}
.openwindow fieldset ol li input
{
    float: left;
    display: block;
}
.openwindow fieldset ol li span
{
    float: left;
    margin: 0 20px 0 2px;
}
.openwindow fieldset ol li select
{
    margin: 0 5px 0 0;
    float: left;
}
.openwindow fieldset.submits
{
    padding: 20px 0pt 25px 95px;
}
.openwindow fieldset.submits1
{
    padding: 20px 0pt 25px 25px;
}
.openwindow fieldset ol.list li
{
    width: 190px;
    padding: 10px 0 10px 10px;
}

.openwindow fieldset.sf label
{
    float: left;
    display: block;
    width: 75px;
    text-align: right;
    margin: 0 5px 0 0;
    padding: 10px 0;
}
.openwindow fieldset.sf ol
{
    float: left;
    width: 510px;
}
.openwindow fieldset.sf ol li
{
    float: left;
    display: block;
    width: 100px;
}
.openwindow fieldset.sf ol li input
{
    float: left;
}
.openwindow fieldset.sf ol li span
{
    margin: 0 5px 0 2px;
    _margin: 0 2px 0 2px;
    width: 72px;
}

