.layout fieldset.formnoborder div.formlist ul.time{

}
.layout fieldset.formnoborder div.formlist ul.time li{
	padding:0;
}
.layout fieldset.formnoborder div.formlist ul.time li label{
	width:65px;
}
.tables_info{
	background:url(../images/icon_light.gif) 0 0 no-repeat;
	margin:10px 0 10px 10px;
	padding:0 0 0 20px;
}
.tables_info li{
	margin:0 0 0 24px;	
}
.tables_info li.f{
	margin:0;	
}
.excel{
	background:url(../images/icon_excel.gif) 0 2px no-repeat;
	margin:0 10px 0 10px;
	padding:0 0 0 15px;
	height:20px;
	float:right;
}
.excel a:link, .excel a:visited{
	color:#005DC3;
	text-decoration:underline;
}
.excel a:hover{
	color:#000;
	text-decoration:none;
}

h3.tables_title{
	color:#666;
	font-weight:bold;
	font-size:14px;
	background:none;
	padding:0 0 0 5px;
	margin:0;
	border-bottom:1px #7AB8DF solid;
	border-top:0;
	cursor:auto;
	height:30px;
	line-height:30px;
}
h3.all{
	background:#EFF8F7;
}
h3.others{
	margin:40px 0 0 0;
}


/**/
.tr_title td {
	text-align:center;
	color:#0478C5;
}
table.list th {
	color:#0478C5;
	width:80px;
}
table.list td{
	width:auto;
}