<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WeiXin" connectionString="Server=rm-uf6x5k8i4bxivp0vgo.mysql.rds.aliyuncs.com;Database='sanfengli';UID=root;Password=!QAZ2wsx" providerName="MySql.Data.MySqlClient" />
    <add name="MarketWeixin" connectionString="server=192.168.15.161\YICHEHUI;uid=sa6;pwd=sa;database=MarketWeixin;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <!--<remove invariant="MySql.Data.MySqlClient" />-->
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>