<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="WeiXin" connectionString="Server=rm-uf6x5k8i4bxivp0vgo.mysql.rds.aliyuncs.com;Database='sanfengli';UID=root;Password=!QAZ2wsx" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <appSettings>

    <add key="WeixinAppId" value="wx6c4c8bb521e45019" />
    <add key="WeixinAppSecret" value="b3928df22a5eb2056b8d4d24c598e95e" />
    
    <add key="DefaultCacheNamespace" value="SflWxTest"></add>
    <add key="WeChatImgDefaultCount" value="100" />
    <add key="WeChatNewsDefaultCount" value="50" />
    <!--是否异步记录Rabbimq日志 true  false-->
    <add key="YCHRabbitMQHostName" value="192.168.43.74" />
    <add key="YCHRabbitMQPort" value="5672" />
    <add key="YCHRabbitMQUserName" value="admin" />
    <add key="YCHRabbitMQPassword" value="admin" />
    <add key="RequestedConnectionTimeout" value="100" />
    <add key="YCHRabbitMQmaxconnectAgain" value="30" />
    <!--使用Rabbitmq记录日志 true记录 false不记录-->
    <add key="LogIsAsyncRabbitmq" value="false" />
    <add key="LogSource" value="Bitauto.Mall.Log" />
    <add key="LogLocalhostIP" value="127.0.0.1" />
    <add key="RecordLogWithRabbitmq" value="false" />
  </appSettings>
</configuration>